%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{sub_dirs, [
            "rel"
           ]}.
{erl_opts, [debug_info, 
    warnings_as_errors,
    {parse_transform, lager_transform},
    {lager_truncation_size, 8192}]}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.

{edoc_opts, [{private, true}, {hidden, true}, {todo, true}]}.

{lib_dirs, ["deps"]}.

{eunit_opts, [verbose, {skip_deps, true}]}.
{eunit_exclude_deps, true}.
{cover_enabled, true}.
{xref_warnings, true}.
{xref_checks, [
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_function_calls,
  deprecated_functions
]}.

{plugins, [rebar_covertool]}.
{cover_export_enabled, true}.
%% {covertool_eunit, {".eunit/", "eunit.coverage.xml"}}. % Source file name, output report file name
{covertool_ct, {"app.coverage", "app.coverage.xml"}}.

{deps, [
    {lager, ".*",
        {git, "git://github.com/basho/lager.git", {tag, "2.0.0"}}
    },
    {covertool, ".*",
        {git, "https://github.com/idubrov/covertool.git", {branch, "master"}}
    },
    {jsx, ".*",
        {git, "git://github.com/talentdeficit/jsx.git", {tag, "v1.4.3"}}
    },
    {jobs, ".*",
        {git, "git@github.com:jmayfield74/jobs.git", {branch, "master"}}
    },    
    {erlport, ".*",
        {git, "git@github.com:hdima/erlport.git", {branch, "master"}}
    },
    {configgins, ".*",
        {git, "git@github.com:Amplify-Social/Configgins.git", {branch, "master"}}
    },
    {sqor_algo, ".*",
        {git, "git@github.com:Amplify-Social/sqor_algo.git", {branch, "master"}}, [raw]
    },
    {sqor_logger, ".*",
        {git, "git@github.com:Amplify-Social/sqor_logger.git", {branch, "master"}}
    }
]}.
